__1. Print the first 5 positive integers in ascending order with one number in each line.__

In [1]:
for i in range(5):
    print(i+1)

1
2
3
4
5

__2.Print the following pattern__

    * 
    **
    ***
    ****
    *****

__There are no spaces between consecutive stars. There are no spaces at the end of each line.__

In [2]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

__3. Accept an integer as input and print its square as output.__

In [3]:
a = int(input("Enter a number: "))
print("The power of the ",a," is ",pow(a,2))

Enter a number: 55
The power of the  55  is  3025

__4.Accept two integers as input and print their sum as output.__

In [4]:
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))
sum = a+b
print("The Sum is ", sum)

Enter 1st number: 52
Enter 2nd number: 23
The Sum is  75

__5. Accept two words as input and print the two words after adding a space between them__

In [5]:
a = input("Enter 1st word: ")
b = input("Enter 2nd word: ")
sum = a+" "+b
print("The Sum of word is ", sum)

Enter 1st word: mango
Enter 2nd word: jiuce
The Sum of word is  mango jiuce

__6. Accept the registration number of a vehicle as input and print its 
state-code as output.__

In [6]:
a = input("Enter Vehicle Registartion Number")
print(a[0:2])

Enter Vehicle Registartion NumberOD24527
OD

__7.Accept a five-digit number as input and print the sum of its digits as 
output.__

In [7]:
n=int(input("Enter number: "))
sum=0
for digit in str(n):
    sum=sum+int(digit)

print("Sum of digits: ",sum)

Enter number: 12345
Sum of digits:  15

__8.Accept five words as input and print the sentence formed by these words after adding a space between consecutive words and a full stop at the end.__

In [8]:
a= input()
b= input()
c= input()
d= input()
e= input()
print(a+' '+b+' '+c+' '+d+' '+e+'.')

India
is
a
big
country
India is a big country.

__9.Accept the date in DD-MM-YYYY format as input and print the year as output.__

In [9]:
date = input("Enter the date: ")
year = date[-4:]
print(year)

Enter the date: 14-8-1998
1998

__10.Accept a sequence of five single digit numbers separated by commas 
as input. Print the product of all five numbers.__

In [10]:
num = [1,2,3,4,5]
prod = 1
for i in num:
    if i!=',':
        prod = prod * int(i)
print(prod)

120

__11. Accept two positive integers x and y as input. Print the number of 
digits in xy__

In [11]:
a = int(input())
b = int(input())
res= a**b
res_str = str(res)
print('The total digit are' ,len(res_str))

5
6
The total digit are 5

__12. Accept a string as input. If the input string is of odd length, then continue with it. If the input string is of even length, make the string of odd length as below:__

 * If the last character is a period (.), then remove it.
 * If the last character is not a period, then add a period (.) to theend of the stringCall this string of odd length word.

__Select a substring made up of three consecutive characters from word such that there are an equal number of characters to the left and right of this substring. Print this substring as output. You can assume that all input strings will be in lower case and will have a length of at least four__

In [12]:
s= input()
n=len(s)
if n%2==0:
    if s[n-1]=='.':
        s=s[:-1]
    else:
        s=s+'.'
n = int((len(s)-1)/2)
print(s[n-1:n+2])

venus
enu

__13. Accept three positive integers as input and check if they form the 
sides of a right triangle. Print YES if they form one, and NO is they do 
not. The input will have three lines, with one integer on each line. 
The output should be a single line containing one of these two 
strings: YES or NO.__

In [13]:
x= int(input())
y= int(input())
z= int(input())
if ((pow(x,2) + pow(y,2) == pow(z,2)) or (pow(y,2) + pow(z,2) == pow(x,2)) or (pow(z,2) + pow(x,2) == pow(y,2))):
    print('yes')
else:
    print('no')

3
4
5
yes

__14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique 
positive integer. On one warm Sunday evening, five employees of the company come together for a 
meeting and sit at a circular table:
The employees follow a strange convention. They will continue the meeting only if the following 
condition is satisfied.
The sum of the employee-ids of every pair of adjacent employees at the table must be an even 
number.
They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
five employees. Your task is to decide if the meeting happened or not.
The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. 
The output will be a single line containing one of these two strings: YES or NO__

In [14]:
emp1 = int(input())
emp2 = int(input())
emp3 = int(input())
emp4 = int(input())
emp5 = int(input())

if ((emp1+emp2) % 2 == 0 and
    (emp2+emp3) % 2 == 0 and
    (emp3+emp4) % 2 == 0 and
    (emp4+emp5) % 2 == 0 and
    (emp5+emp1) % 2 == 0 ):
    print("Yes")
else:
    print("No")

23
53
45
15
26
No

__15. Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn’t contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string – irrespective of its case should appear just once in lower case 
in the output.__

In [15]:
n = input("Enter a string: ")
print(n)
lst = list(n)
print(lst)
vols = ['a','e','i','o','u']

out=[]
for each in lst:
    if each in vols:
        out.append(each)
print("Vowels found are: ")
print(set(out))

Enter a string: Elephant
Elephant
['E', 'l', 'e', 'p', 'h', 'a', 'n', 't']
Vowels found are:
{'a', 'e'}

__16.You are given the date of birth of two persons, not necessarily from the same family. Your task is to find the younger of the two. If both of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical order. The input will have four lines. The first two lines correspond to the first person, while the last two lines correspond to the second person. For each person, the first line corresponds to the name and the second line corresponds to the date of birth in “DD-MM-YYYY” 
format. Your output should be the name of the younger of the two.__

In [16]:
import datetime as dt
name1=input("Enter the first person name: ")
age1=input("Enter the first person dob in 'DD-MM-YYYY' format: ")
name2=input("Enter the 2nd person name: ")
age2=input("Enter the 2nd person dob in 'DD-MM-YYYY' formart: ")
dob1=dt.date(int(age1[6:]),int(age1[3:5]),int(age1[0:2]))
dob2=dt.date(int(age1[6:]),int(age1[3:5]),int(age1[0:2]))
if(dob1<dob2):
    print(f"The {name1} is younger than {name2}")
elif(dob1>dob2):
    print(f"The {name2} is younger than {name1}")
else:
    if name1[0]<name2[0]:
        print(f"The {name1} is younger than {name2}")
    else:
        print(f"The {name2} is younger than {name1}")

Enter the first person name: Ana
Enter the first person dob in 'DD-MM-YYYY' format: 10-08-1998
Enter the 2nd person name: Sam
Enter the 2nd person dob in 'DD-MM-YYYY' formart: 10-08-1998
The Ana is younger than Sam

__17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise__

In [17]:
password = input()
if 8 <= len(password) <=32 and password[0].isalpha() and '/' not in password and '\\' not in password and '=' not in password and '\"' not in password and ' ' in password:
    print("True")
else:
    print("False")

Dhoni@1339
False

__18. Accept a positive integer n as input and print the first n positive 
integers, one number on each line.__

In [18]:
num = int(input())
print(num)
for i in range(1,num+1):
    print(i)

5
5
1
2
3
4
5

__19.Accept a positive integer n as input, where n is greater than 1. 
Print PRIME ifnis a prime number and NOTPRIME otherwise.__

In [19]:
n=int(input())
res=True
for i in range(2,n):
    if(n%i==0):
        res=False
        break
if res==True:
    print(n,"is prime")
else:
    print(n, "is not prime")

53
53 is prime

__20. Accept two strings as input and form a new string by removing all 
characters from the second string which are present in the first string. 
Print this new string as output. You can assume that all input strings 
will be in lower case.__

In [20]:
a = input()
b = input()
for c in a:
    if c in b:
        b= b.replace(c, '')
print(b)

america
india
nd

__21.Accept a phone number as input. A valid phone number should satisfy the following constraints.__
  * The number should start with one of these digits: 6, 7, 8, 9
  * The number should be exactly 10 digits long.
  * No digit should appear more than 7 times in the number.
  * No digit should appear more than 5 times in a row in the number.

__If the fourth condition is not very clear, then consider this example:__
   * the number 9888888765 is invalid because the digit 8 appears more than 5 times in a row.
   
__Print the string valid if the phone number is valid. If not, print the string invalid.__

In [21]:
num = int(input("Enter your mobile number: "))
y = str(num)
seven_checker_list = list()

for char in y :
#("10 numbers , starts with valid and do no have 7 time repeat")
    if(y.count(char) > 7) :
        seven_checker_list.append(char)


def phone_number(x):
    for i in range(10):
        if str(i) * 6 in str(x):
            #print(i, "occurs more than 5 times")
            return False
    return True


if (len(y)==10):

    if (y[0]== "6" or y[0]== "7" or y[0]== "8" or y[0] == "9"):
    
        if (len(seven_checker_list)==0):
        
            if ( phone_number(num) == True ):
            
                print("Valid")
        
            else:
                print("Invalid")
        
        else:
            print("Invalid")
    
    else:
        print("Invalid")   
else:
    print("Invalid")

Enter your mobile number: 7856941230
Valid

__22. In the first line of input, accept a sequence of space-separated words. In the second line of input, accept a single word. If this word is not present in the sequence, print NO. If this word is present in the sequence, then print YES and in the next line of the output, print the number of times the word appears in the sequence.__

In [22]:
string=input("Enter something: ") 
word=input("Enter a word: ")
 
# splitting words in a given string
s = string.split()
 
# checking condition
# if substring is present in the given string then it gives output as yes
if word in s:
    print("Yes")
else:
    print("No")

Enter something: I am Indian
Enter a word: Indian
Yes

__23. Write a function named factorial that accepts an integer n as argument. It should return the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it should return 1 if n is zero.__

In [23]:
def factorial(n):
    if n == 0:
        return 1
    elif n < 0:
        return -1
    else:
        return n * factorial(n-1)
    
num=int(input("Enter a num: "))

print("Factorial of",num,"is:",factorial(num))

Enter a num: 5
Factorial of 5 is: 120

__24. The range of a list of numbers is the difference between the maximum and minimum values in the list. Write a function named get_range that accepts a non-empty list of real numbers as argument. It should return the range of the list.__
* Avoid using built-in function such as max and min.
* You do not have to accept input from the user or print output to the console. You just have to write the function
  definition.

In [24]:
def get_range(list):
    big = -10000000
    small = 10000000
    for i in list:
        if i>big:
            big = i
        if i<small:
            small = i
    return big-small


print(get_range([10, 4, 1, 8, 7, 9, 6]))
print(get_range([1.3, 2.1, 5.5, 1.7]))

9
4.2

__25. Write a function named read_file that accepts a text file named filename as argument. Within the function, read the file and print each line of the file on a separate line in the console. You shouldn't print any extra characters at the end of a line. There shouldn't be an empty line between any two consecutive lines.__
* filename is a string variable that holds the name of the file. For example, in the first test case, it is filename = 'public_1.txt'.
* You do not have to accept input from the console. You have to write the function definition and print the contents of the file within the function

In [25]:
def read_file(filename):
    f = open("D:/iNeuron-Data-Science-Assignment/Class_Code/test.txt", "r")
    for line in f:
        line = line.rstrip()
        print(line, end='\n')
    
read_file('test.txt')

Mahendra Singh Dhoni is an Indian former international cricketer who was captain of the Indian national cricket team in limited-overs formats from 2007 to 2017 and in Test cricket from 2008 to 2014 and the current captain of CSK.
He led India to victory in three ICC trophies, the most by any Indian captain. Dhoni made his ODI debut on 23 December 2004, against Bangladesh in Chittagong and played his first Test a year later against Sri Lanka. He played his first T20I also a year later against South Africa. In 2007, he took over the ODI captaincy from Rahul Dravid and he also selected as T20I captain of India in this year. In 2008, he was selected as Test Captain.His captaincy record in test format was mixed, successfully leading India to a series win against New Zealand in 2008 and the Border-Gavaskar Trophy (home series in 2010 and 2013) against Australia while losing to Sri Lanka, Australia, England, and South Africa by big margins in away conditions.

__26. A simple algorithm has to be designed to find out whether a student belongs to the Data Science branch or not. The input will be a student's roll number, which is of the form BR18B0000. Here, BR represents the branch code, 18 represents the year of joining, B represents the education level and 0000 represents the specific identification given to the student of that batch.The branch code for Data Science is DS. Print True if the student belongs to Data Science branch and False otherwise.__

In [26]:
roll_number=input("Enter the Student Roll Number:")
if roll_number[0:2]=='DS':
    print('True')
else:
    print('False')

Enter the Student Roll Number:DS45GB445
True

__27.The police are trying to track a criminal based on the evidence available at a crime site. Their main clue is a vehicle's damaged number plate. Only the string TN07 is visible. The format of the registration number is AA00AA00, where the first two letters are alphabets, next two are numbers, next two are again alphabets followed by two numbers at the end. A number plate is picked from a database of registration numbers and is given to you as input. Your task is to determine if this could belong to the criminal or not. Print True if the number plate contains TN07 and False otherwise.__

In [27]:
reg_number=input("Enter the Vehicle Registration Number:")
if reg_number !=8:
    if reg_number[0:4]=='TN07':
        print("Criminal People")
    else:
        print("Good People")

Enter the Vehicle Registration Number:TN07455GB
Criminal People

__28. You are given a string and two non-negative integers as input. The two integers specify the start and end indices of a substring in the given string. Create a new string by replicating the substring a minimum number of times so that the resulting string is longer than the input string. The input parameters are the string, start index of the substring and the end index of substring (endpoints inclusive) each on a different line.__

In [28]:
def str_repeat(input_str, start, end):
    result = ""
    substr = input_str[start : end + 1]
    while len(result) <= len(input_str):
        result += substr
    return result

input_str = input()
start = int(input())
end = int(input())

print(str_repeat(input_str, start, end))

abcdef
2
4
cdecdecde

__29. A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby, and Emerald for sports competitions. For dividing the students into these four groups, she has followed the pattern given below:__

    Sapphire - 1, 5, 9, 13, 17, 21, ...
    Peridot - 2, 6, 10, 14, 18, 22, ...
    Ruby - 3, 7, 11, 15, 19, 23, ...
    Emerald - 4, 8, 12, 16, 20, 24, ...

__All the students are represented by their roll numbers. Based on the above pattern, given the roll 
number as input, print the group the student belongs to. Note that the roll number can be any 
positive integer and not necessarily less than 25.__

In [29]:
def group(rollno):
    if rollno % 4 == 0:
        return "Emerald"
    elif rollno % 4 == 1:
        return "Sapphire"
    elif rollno % 4 == 2:
        return "Peridot"
    else:
        return "Ruby"


rollno = int(input("Enter the roll number: "))
print(group(rollno))

Enter the roll number: 54
Peridot

__30. A data science company wants to hire data scientists from abc college. The company follows a certain criteria for selection: for a student to be selected, the number of backlogs should be at most 5 and the CGPA (Cumulative Grade Point Average) should be greater than 6. If the student does not fit the above criteria, then the student is not offered the job. If the student is selected, then the salary offered is equal to 5 times his/her CGPA (in lakhs).Accept the number of backlogs (integer) and the CGPA (float) of the student as input. Your task is to determine if the student is selected or not. If the student is selected, then print the package. If not, then print the string Not Selected.__

In [30]:
def selection_criteria(backlog,CGPA):
    if backlog <= 5 and CGPA > 6:
        salary = (CGPA*5) * 100000
        print("Selected")
        print(f"The selected student salary is Rs.{salary:.2f}")
    else:
        print("The Student is not selected")
Backlog = int(input("Enter the no of backlog: "))
CGPA = float(input("Enter your CGPA: "))

selection_criteria(Backlog,CGPA)

Enter the no of backlog: 5
Enter your CGPA: 9.23
Selected
The selected student salary is Rs.4615000.00

__31. Accept a string as input and print PALINDROME if it is a palindrome, and NOT PALINDROME otherwise__

In [31]:
string=input(("Enter a letter:"))  
if(string==string[::-1]):  
      print("The letter is a palindrome")  
else:  
      print("The letter is not a palindrome")

Enter a letter:aba
The letter is a palindrome

__32. In a portal login website, you are asked to write a function get_password_strength to decide 
the strength of a password. The strength is decided based on the total score of the password, Use 
following conditions:__
1. If password has length greater than 7 then score increases by one point.
2. If password has at least one upper case and one lower case alphabets score increases by one point.
3. If password has at least one number and no consecutive numbers like 12 or 234 then score increases by one point.
4. If password has at least one special character (any character other than numbers and alphabets) then score increases by one point.
5. If password contains username, then it is invalid password.

__If the password has score of four points, three points, two points, or one point then print Very 
Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then 
print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a 
different password.The arguments to the function are username and password which are 
already defined__

In [32]:
import re

def get_password_strength(username, password):
    score = 0
    if len(password) > 7:
        score += 1
    if any(map(str.islower, password)) and any(map(str.isupper, password)):
        score += 1
    if len(re.findall(r'\d+', password)) > 0 and not any(map(str.isnumeric, password)):
        score += 1
    if len(re.findall('[^a-zA-Z0-9]', password)) > 0:
        score += 1
    if username in password:
        print("PASSWORD SHOULD NOT CONTAIN USERNAME")
    else:
        if score == 4:
            print("Very Strong")
        elif score == 3:
            print("Strong")
        elif score == 2:
            print("Moderate")
        elif score == 1:
            print("Weak")
        else:
            print("Use a different password.")

username = input("Enter the Username: ")
password = input("Enter the password: ")
get_password_strength(username, password)

Enter the Username: Dhoni@12gg
Enter the password: Dhoni@#168
Strong

__33.What are decorators in Python?__

A decorator is a design pattern in Python that allows a user to add new functionality to an existing object without modifying its structure. Decorators are usually called before the definition of a function you want to decorate.

__34. Decorator that logs the date and time.__

In [33]:
from time import time


def timer_func(func):
    def wrap_func(*args, **kwargs):
        t1 = time()
        result = func(*args, **kwargs)
        t2 = time()
        print(f'Function {func.__name__!r} executed in {(t2-t1):.4f}s')
        return result
    return wrap_func


@timer_func
def long_time(n):
    for i in range(n):
        for j in range(1060000):
            i*j

long_time(5)

Function 'long_time' executed in 0.3310s

__35.Program to Get Data Items From a List Appearing Odd Number of Times__

In [34]:
def get_odd_occurrence(arr): 
    result = 0
  
    for i in range(0, len(arr)): 
        result = result ^ arr[i] 
      
    return result 
  
arr = [ 2, 3, 5, 4, 5, 2, 4, 3, 5, 2, 4, 4, 2 ] 
print(get_odd_occurrence(arr)) 
  
arr = [ 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3 ] 
print(get_odd_occurrence(arr)) 
  
arr = [ 8, 8, 8, 8, 8, 8, 8, 8 ] 
print(get_odd_occurrence(arr))

5
1
0

__36. Remove items from a list while iterating but without creating a different copy of a list.__

Remove numbers greater than 50
- number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
- Expected Output: [10, 20, 30, 40, 50]

In [35]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for elem in list(number_list):
    if elem > 50:
        number_list.remove(elem)
print(number_list)

[10, 20, 30, 40, 50]

__37.  Display all duplicate items from a list__

sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]

Expected Output: [20, 60, 30]

In [36]:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
print("The Original List:", sample_list)

unique_list = []
duplicate_list = []

for i in sample_list:
    if i not in unique_list:
        unique_list.append(i)
    elif i not in duplicate_list:
        duplicate_list.append(i)

print("The Duplicated List:", duplicate_list)

The Original List: [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
The Duplicated List: [20, 30, 60]

__38. Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'. Create an inner function inside an outer function that will concatenate x and y. At last, an outer function will join the word 'developer' to it.__

In [37]:
def outer_func(x, y):
    # concatenate two strings
    def inner_fun(x, y):
        return x + y

    z = inner_fun(x, y)
    return z + 'Developers'

result = outer_func('Emma', 'Kelly')
print(result)

EmmaKellyDevelopers

__39. Modify the element of a nested list inside the following list. Change the element 35 to 3500__

list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [38]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
list1[1][2][2][1] = 3500
print(list1)

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

__40.  Access the nested key increment from the following dictionary__

Access 12

emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [39]:
emp_dict = { "company": { "employee": { "name": "Jess", "payable": { "salary": 9000, "increment": 12 } } } }
print(emp_dict['company']['employee']['payable']['increment'])

12

__41. Print the sum of the current number and the previous number. Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.__

Printing current and previous number sum in a range(10)

- Current Number 0 Previous Number  0  Sum:  0
- Current Number 1 Previous Number  0  Sum:  1
- Current Number 2 Previous Number  1  Sum:  3
- Current Number 3 Previous Number  2  Sum:  5
- Current Number 4 Previous Number  3  Sum:  7
- Current Number 5 Previous Number  4  Sum:  9
- Current Number 6 Previous Number  5  Sum:  11
- Current Number 7 Previous Number  6  Sum:  13
- Current Number 8 Previous Number  7  Sum:  15
- Current Number 9 Previous Number  8  Sum:  17

In [40]:
num = list(range(10))
previousNum = 0
for i in num:
    sum = previousNum + i
    print('Current Number '+ str(i) + ' Previous Number ' + str(previousNum) + ' is ' + str(sum))
    previousNum=i

Current Number 0 Previous Number 0 is 0
Current Number 1 Previous Number 0 is 1
Current Number 2 Previous Number 1 is 3
Current Number 3 Previous Number 2 is 5
Current Number 4 Previous Number 3 is 7
Current Number 5 Previous Number 4 is 9
Current Number 6 Previous Number 5 is 11
Current Number 7 Previous Number 6 is 13
Current Number 8 Previous Number 7 is 15
Current Number 9 Previous Number 8 is 17

__42. Print characters from a string that are present at an even index number. Write a program to accept a string from the user and display characters that are present at an even index number.__

__For example, str = "ineuron" so you should display ‘i’, ‘e’, ‘r’, ‘n’.__

In [41]:
word = input('Enter word: ')
even_chars = []
for i in range(len(word)):
    if i % 2 == 0:
        even_chars.append(word[i])
print('Even characters: {}'.format(even_chars))

Enter word: ineuron
Even characters: ['i', 'e', 'r', 'n']

__43. Print multiplication table form 1 to 10.__

   1  2 3 4 5 6 7 8 9 10 		
   2  4 6 8 10 12 14 16 18 20 		
   3  6 9 12 15 18 21 24 27 30 		
   4  8 12 16 20 24 28 32 36 40 		
   5  10 15 20 25 30 35 40 45 50 		
   6  12 18 24 30 36 42 48 54 60 		
   7  14 21 28 35 42 49 56 63 70 		
   8  16 24 32 40 48 56 64 72 80 		
   9  18 27 36 45 54 63 72 81 90 	
   10 20 30 40 50 60 70 80 90 100

In [42]:
n=int(input('Please enter a positive integer between 1 and 10: ')) #if you want table upto 25 the replace 10 with 25 and give input as 25
for row in range(1, n + 1):
    print(*(f"{row*col:3}" for col in range(1, n + 1)))

Please enter a positive integer between 1 and 10: 10
  1   2   3   4   5   6   7   8   9  10
  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90
 10  20  30  40  50  60  70  80  90 100

__44. Remove duplicates from a list and create a tuple and find the minimum and maximum number__

* sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

__Expected Outcome:__
* unique items [87, 45, 41, 65, 99]
* tuple (87, 45, 41, 65, 99)
    * min: 41
    * max: 99

In [43]:
l = [1, 2, 4, 2, 1, 4, 5]
print("Original List: ", l)
res = [*set(l)]
print("List after removing duplicate elements: ", res)
tuple1 = tuple(res)
print("Converting List to Tuple",tuple1)
print("Max Number: ", max(tuple1))
print("Min Number: ", min(tuple1))

Original List:  [1, 2, 4, 2, 1, 4, 5]
List after removing duplicate elements:  [1, 2, 4, 5]
Converting List to Tuple (1, 2, 4, 5)
Max Number:  5
Min Number:  1

__45. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and print the result.__

In [44]:
a = lambda a : a + 15
print(a(10))
b = lambda x, y : x * y
print(b(12, 4))

25
48

__46. Write a Python program to sort a list of tuples using Lambda.__

In [45]:
planets = [("Earth", 3),("Jupiter",5),("Mercury",1), ("Mars",4), ("Neptune",8), ("Saturn", 6), ("Uranus",7), ("Venus",2)]
print("Original list of tuples:",planets)
planets.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:", planets)

Original list of tuples: [('Earth', 3), ('Jupiter', 5), ('Mercury', 1), ('Mars', 4), ('Neptune', 8), ('Saturn', 6), ('Uranus', 7), ('Venus', 2)]

Sorting the List of Tuples: [('Mercury', 1), ('Venus', 2), ('Earth', 3), ('Mars', 4), ('Jupiter', 5), ('Saturn', 6), ('Uranus', 7), ('Neptune', 8)]

__47. Write a Python program to extract year, month, date and time using Lambda.__

In [46]:
import datetime
now = datetime.datetime.now()
print(now)
year = lambda x: x.year
month = lambda x: x.month
day = lambda x: x.day
t = lambda x: x.time()
print(year(now))
print(month(now))
print(day(now))
print(t(now))

2022-11-21 23:09:19.047253
2022
11
21
23:09:19.047253

__48. Write a Python program to count the even, odd numbers in a given array of integers using Lambda.__

In [47]:
nums = [1, 2, 3, 5, 7, 8, 9, 10]
print("Original arrays:", nums)
odd_num = len(list(filter(lambda x: (x%2 != 0) , nums)))
even_num = len(list(filter(lambda x: (x%2 == 0) , nums)))
print("\nNumber of even numbers in the above array: ", odd_num)
print("\nNumber of odd numbers in the above array: ", even_num)

Original arrays: [1, 2, 3, 5, 7, 8, 9, 10]

Number of even numbers in the above array:  5

Number of odd numbers in the above array:  3

__49. Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence. Use map() function.__

In [48]:
def change_cases(s):
    return str(s).upper(), str(s).lower()
 
letters = {'a', 'r', 'E', 'h', 'a', 'm', 'o', 'V', 'a', 'E', 'v'}
print("Original Characters:\n",letters)
 
result = map(change_cases, letters)
print("\n Converting above characters in upper and lower cases\nand eliminating duplicate letters:", set(result))

Original Characters:
 {'o', 'E', 'm', 'h', 'a', 'v', 'V', 'r'}

 Converting above characters in upper and lower cases
and eliminating duplicate letters: {('M', 'm'), ('V', 'v'), ('R', 'r'), ('O', 'o'), ('A', 'a'), ('E', 'e'), ('H', 'h')}

__50. Write a Python program to square the elements of a list using map() function.__

In [49]:
def square_num(n):
    return n * n

nums = [4, 5, 2, 9]
print("Original List: ",nums)

result = map(square_num, nums)

print("Square the elements of the said list using map():", list(result))

Original List:  [4, 5, 2, 9]
Square the elements of the said list using map(): [16, 25, 4, 81]